<div class="bottom">
    <centerr>
        <span class="credit"><a href="#">C E M A Medical Centre |</a></span>
        <span class="far fa-copyright" style="color:white"></span><span class="right"> 2020 all rights
            reserved. </span>
    </centerr>
</div>