 <!-- navbar starts -->
 <nav class="navbar" id="nav">
        <div class="logo"><img src="/Images/logoa11.png"></div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <!-- search box starts -->
        <!-- <div class="box">
            <input type="text" class="search-text" placeholder="search here">
            <img src="/Images/search.png" class="search-button">
        </div> -->
        <!-- search box starts -->
        <div class="navbar-links"> 
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/BookAppointment">Book Appointment</a></li>
                <!-- <li><a href="/login">Login/Sign Up</a></li> -->
                <li><a href="/About">About Us</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </div>
    </nav>