<section class="boddy">

    <div class="caddd">
        <div class="profle-sidebar">
            <img class="profile-image" src="/images/about-profile-img.jpg" alt="profile picture">
            <ul class="social-list">
                <li class="social-item"><a class="social-link" href=""><i class="fa fa-fw fa-facebook"></i></a></li>
                <li class="social-item"><a class="social-link" href=""><i class="fa fa-fw fa-twitter"></i></a></li>
                <li class="social-item"><a class="social-link" href=""><i class="fa fa-fw fa-instagram"></i></a></li>
                <li class="social-item"><a class="social-link" href=""><i class="fa fa-fw fa-whatsapp"></i></a></li>
                <li class="social-item"><a class="social-link" href=""><i class="fa fa-fw fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Kenneth Ngonadi</h2>
            <p class="profile-position"> <strong>Web Developer</strong></p>
            <p class="profile-body">
                Some of the important places were never seen in its beauty.
                Even the Old men wished they could behold just a glance of it in its glory.
                Some of the important places were never seen in its beauty.
                Even the Old men wished they could behold just a glance of it in its glory.
                Some of the important places were never seen in its beauty.
                Even the Old men wished they could behold just a glance of it in its glory.

            </p>
        </div>

    </div>

</section>

<h1 class="heading"> Medical Team</h1>
<section class="team">
    <div class="team-container">
        <div class="card-wrapper">
            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <!-- <div class="div">   </div> -->
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>
        </div>
    </div>

</section>