




<!-- container starts -->
<div class="slider-container">
    <div class="slider">
        <div class="slide-items">
            <div class="item active">
                <div class="img" style="background-image: url('/Images/paediatrics2.jpg');">
                </div>
                <div class="caption">
                    <div class="text">
                        <h1> Headline Goes Here</h1>
                        <p>Some Dummy Text Goes Here...</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="img" style="background-image: url('/Images/slider1.jpg');">
                </div>
                <div class="caption">
                    <div class="text">
                        <h1> Headline Goes Here</h1>
                        <p>Some Dummy Text Goes Here...</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="img" style="background-image: url('/Images/paediatrics3.jpg');">
                </div>
                <div class="caption">
                    <div class="text">
                        <h1> Headline Goes Here</h1>
                        <p>Some Dummy Text Goes Here...</p>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="img" style="background-image: url('/Images/slider2.jpg');">
                </div>
                <div class="caption">
                    <div class="text">
                        <h1> Headline Goes Here</h1>
                        <p>Some Dummy Text Goes Here...</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- slider control -->
        <div class="controls">
            <div class="prev">
                <</div> <div class="next">>
            </div>
        </div>

        <!-- slider control -->


        <!-- slide information/ -->
        <div class="slide-info">
            <div class="meter">
                <div class="inner"></div>
            </div>
            <div class="number">
            </div>
        </div>
        <!-- slide information/ -->

        <!-- next slide progress meter starts -->
        <div class="progress">

        </div>

        <!-- next slide progress meter ends -->
    </div>

</div>
<!-- Container Ends -->

<div class="empty">
    <h1> </h1>
</div>

<!-- services starts -->
<div class="div">
    <h1 class="heading"> Our Services</h1>
</div>
<div class="servicess">
    <div class="service-image">
        <img src="/Images/12.jpg">
    </div>
    <div class="box-area">
        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Surgery</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>O & G</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Paediatrics</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Emergency</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>


        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Antenatal Care</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                                Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Immunization</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                                Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Lab Services</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                 Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Ultra Scan</strong></span>
                <!-- <p>Some of the important places were never seen in its beauty.
                Even the Old men wished they could behold just a glance of it in its glory.</p> -->
            </div>
        </div>

        <!-- <div class="single-box">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Dialysis</strong></span>
                <p>Some of the important places were never seen in its beauty.
                 Even the Old men wished they could behold just a glance of it in its glory.</p>
            </div>
        </div> -->
    </div>

</div>

<!-- services ends -->
<!-- team starts -->
<h1 class="heading"> Medical Team</h1>
<section class="team">
    <div class="team-container">
        <div class="card-wrapper">
            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <!-- <div class="div">   </div> -->
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>

            <div class="card">
                <img src="/Images/pexels.jpg" alt="card background" class="card-img">
                <img src="/Images/surgery.jpg" alt="card profile image" class="profile-img">
                <h1> Onyeka Ngonadi</h1>
                <p class="Job-title">Chief Consaultant</p>
                <p class="info">Some of the important places were never seen in its beauty.
                    Even the Old men wished they could behold just a glance of it in its glory.
                </p>
                <a href="#" class="btn">View</a>
            </div>
        </div>
    </div>

</section>

<!-- team ends -->

<!-- Testimonial Section Starts -->
<section class="testimonials">
    <div class="tcontainer">
        <div class="title">
            <h1>Testimonials</h1>
        </div>
        <div class="tslider">
            <div class="slide active">
                <p>"lSome of the important places were never seen in its beauty. Even the Old men
                    wished they could behold just a glance of it in its glory."</p>
                <div class="client-info">
                    <h3>Ngonadi Kenneth</h3>
                    <span>WEB DEV</span>
                </div>
            </div>

            <div class="slide">
                <p>"tSome of the important places were never seen in its beauty. Even the Old men
                    wished they could behold just a glance of it in its glory."</p>
                <div class="client-info">
                    <h3>Dr. Paul Wood</h3>
                    <span>C.E.O Apex Ventures</span>
                </div>
            </div>

            <div class="slide">
                <p>"hSome of the important places were never seen in its beauty. Even the Old men
                    wished they could behold just a glance of it in its glory."</p>
                <div class="client-info">
                    <h3>Mrs Clara Divine</h3>
                    <span>Leader of One Voice Movement</span>
                </div>
            </div>


        </div>
        <div class="slider-indicator">
            <img src="/Images/testifier1.jpg" class="active" alt="img" data-id="0">
            <img src="/Images/testifier3.jpg" alt="img" data-id="1">
            <img src="/Images/testifier2.jpg" alt="img" data-id="2">
        </div>

    </div>
</section>
<div class="empty">
    <h1> </h1>
</div>
<!-- Testimonial Section Ends -->





<!-- footer starts -->
<footer>
    <!-- media icon begins -->
    <div class="now">
        <div class="socialmedia">

            <ul class="socialIcons">
                <li class="facebook"><a href=""><i class="fa fa-fw fa-facebook"></i>facebook</a></li>
                <li class="twitter"><a href=""><i class="fa fa-fw fa-twitter"></i>twitter</a></li>
                <li class="instagram"><a href=""><i class="fa fa-fw fa-instagram"></i>instagram</a></li>
                <li class="whatsapp"><a href=""><i class="fa fa-fw fa-whatsapp"></i>whatsapp</a></li>
                <li class="youtube"><a href=""><i class="fa fa-fw fa-youtube"></i>youtube</a></li>
            </ul>
        </div>
    </div>
    <!-- media icon ends -->
    <div class="main-content">

        <div class="left square">
            <h2>About us</h2>
            <div class="content">
                <p>Some of the important places were never seen in its beauty. Even the Old men
                    wished they could behold just a glance of it in its glory.</p>
            </div>
        </div>

        <div class="center square">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Agbara Estate</span>
                </div>

                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+234 8165 97006</span>
                </div>

                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">ngonadi@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right square">
            <h2> Contact Us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea name="" id="" cols="25" rows="2" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

</footer>



<!-- footer ends -->